/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}
/* END RESET */

/* GENERAL */
.container {
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

.button-blue {
    color: white;
    background-color: #0061FF;
    padding: 5px 15px;
}

.button-blue:hover {
    background-color: #6198f0;
}

h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
}

.col hr {
    padding: 0;
    width: 20%;
    color: lightgray;
    margin: 30px;
}

i {
    font-size: 1rem;
    margin-right: 7px;
}

/* HEADER START */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.head {
    width: 40%;
    display: flex;
}

.right {
    justify-content: flex-end;
}

.first-list {
    display: flex;
    align-items: center;
}

.second-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header  ul > li {
    margin:0 20px;
}
/* HEADER END */

/* MAIN START */

/* JUMBOTRON SECTION */
.jumbotron {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    background-color:#B4D0E7;
    padding-bottom: 20px;
}

.jumbo-content {
    width: 60%;
    margin-top: 80px;
}

.jumbo-container {
    display: flex;
    margin-top: 50px;
}

.jumbo-text {
    width: 30%;
}

.jumbo-text i {
    font-size: 3rem;
}

.jumbo-text p {
    padding-bottom: 30px;
}

#mg-top {
    margin-top: 30px;
}

.jumbo-img {
    width: 70%;
    position: relative;
}

#immage-jumbo {
    position: absolute;
   
}

.main-title {
    font-size: 4.7rem;
    font-weight: 800;
}

/* END JUMBOTRON */

/* BUSINESS SECTION */

.col-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col * {
    padding: 10px 0;
}

.col {
    width: calc(100% / 3 - 30px);
    margin-top: 40px;
    text-align: center;
    /* debug */
    border: 1px solid lightgray;
}

.col-head {
    border: 1px solid lightgray;
}

.col-horizzontal {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    /* debug */
    border: 1px solid lightgray; 
}

.col .button-blue {
    padding: 5px 15px;
}

.col li {
    font-size: .9rem;
}

.col .button-blue {
    display: inline-block;
    width: 80%;
    padding: 10px;
}

.col-horizzontal a {
    position: relative;
    left: 300px;
    bottom: 150px;
}

.col-horizzontal .col-text * {
    padding: 20px;
}

.ceckbox {
    margin-top: 30px;
}

.radio-blue {
    margin-left: 20px;
}

.col-text {
    text-align: left;
    margin: 0 20px;
}

.fa-check:before {
    content: "\f00c";
    color: blue;
}

/* END BUSINESS SECTION */

/* START PARTNER SECTION */
.partner {
    display: flex;
}

.partner-img {
    width: 60%;
}

.partner-text {
    width: 40%;
    padding: 20px 50px;
    text-align: left;
}

.partner-text  h4 p {
    padding: 10px 0px;
}

.partner-text p {
    margin-bottom: 40px;
}

.buz-white {
    border: 1px solid black;
    padding: 10px;
    
}

.buz-white:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
/* END PARTNER SECTION */

/* START OPERATION SECTION */
.operation {
    text-align: left;
    border: none;
}

/* START TEAM SECTION */
.team-user {
    margin-bottom: 50px;
}
a.underlined {
    text-decoration: underline;
    color: blue;
}
/* END TEAM SECTION */

/* START SPONSOR SECTION */
.sponsor {
    width: 100% ;
    margin-top: 150px;
    display: flex;
    /* debug */
}

.sponsor-box {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.sponsor-text {
    position: relative;
    bottom: 150px;
}

.sponsor-text p {
    margin-top: 40px;
}

.middle {
    background-color: #F5F5F5;
    padding: 40px;
}

.square {
    width: calc(100% / 2);
    height: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.factory {
    width: 50%;
    height: 50%;
    filter: invert();
}

.factory-mid {
    width: 50%;
    height: 50%;
    position: relative;
    bottom: 70px;
}

.green {
    background-color: #A2D39B;
}
.brown {
    background-color: #61082B;
}
.cian {
   background-color: #0093CE;
}
.red {
    background-color: #FF1C1C;
}
.lightblue {
    background-color: #B4D0E7;
}
.blue {
    background-color: #0D2481;
}
.yellow {
    background-color: #FFD830;
}
/* END SPONSOR SECTION */

/* START PROVA SECTION */
.prova-gratuita {
    /* debug */
    height: 400px;
    background-color: #B4D0E7;
}
.prova h3 {
    color: #61082B;
}

.buttonz {
    background-color: white;
    padding: 10px  30px;
}

.buttonz:hover {
    background-color: gray;
}

.prova {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
/* END PROVA SECTION */
/* START QUEST SECTION */
.quest-title {
    margin-bottom: 70px;
    
}

.quest-list:last-child {
    margin-bottom: 140px;
}

.quest > li {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quest > li:hover p {
    display: block;
}

.quest > li:hover i {
    rotate: 180deg;
}

.text-inv {
    padding-top: 20px;
    display: none;
}
/* END QUEST SECTION */
/* START FOOTER SECTION */
.footer {
    background-color: black;
    color: white;
    /* debug */
    height: 500px;
}
.container-big {
    width: 80%;
    margin: 0 auto;
    padding-top: 150px;
}
.foot {
    display: flex;
}

.table {
    width: calc(100% / 5);
    
}

.foot-ul li {
    padding: 10px;
}

